
@{
    ViewBag.Title = "Derivaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reportes</h2>

<div class="container">

    <div class="row">

        <div class="col-12">

            <h4>Elija el centro de salud:</h4>
            @{
                //List<SelectListItem> listItems = new List<SelectListItem>();
            }
            


            <div class="form-group">
                <select required id="ddNavegador" name="ddNavegador" class="selectpicker" data-live-search="true" title="Seleccione un centro de salud..."></select>

                <br />
                <h4>Elija rango de fechas:</h4>
                <div id="desdeContainer"></div>

                <div id="datepicker-container">
                    <div class="input-daterange input-group" id="datepicker">
                        <span class="input-group-addon">Fecha desde</span>
                        <input id="dateDesde" type="text" class="input-sm form-control" name="start" />
                        <span class="input-group-addon">Fecha hasta</span>
                        <input id="dateHasta" type="text" class="input-sm form-control" name="end" />
                    </div>
                </div>

                <br />

                <button class="btn btn-success" id="grafDerivaciones">Mostrar Gráfico</button>

                </div>
            </div>
        </div>

    <div id="derivacionesContainer"></div>

    <div id="programacionesContainer"></div>

</div>

<script type="text/javascript">

    var csHaciaNombres = [];

    $(function () {


        $('.selectpicker').selectpicker({
            style: 'btn-default',
            size: 4
        });

        $('#datepicker-container input').datepicker({});

        $.ajax({
            type: "POST",
            async: true,
            data: {'csid': 1},
            url: "@Url.Action("GetCentrosDeSalud", "Derivaciones")",
            success: function(data)
            {
                csHaciaNombres = data;
                fillDropDownCS(data);
            },
            error: function(e)
            {
                event.stopPropagation();
                alert("error al acceder al servidor");
                console.dir(e);
            }
        });
    });

    function fillDropDownCS(cs) {

        var options = $(".csDD");

        $.each(cs, function () {
            $("#ddNavegador")
                .append("<option value=" +
                this.id +
                "> " +
                this.Nombre +
                " </option>");
        });
        $('#ddNavegador').selectpicker('refresh');
    }


    $("#grafDerivaciones").click(llenarGraficos);

    function llenarGraficos() {

        mostrarDerivaciones();

        mostrarProgramaciones();
    }

    function mostrarProgramaciones() {

        //console.log("asdf")
        var fechaCambiadaDesde = changeDateString($("#dateDesde"));
        var fechaCambiadaHasta = changeDateString($("#dateHasta"));

        if (fechaCambiadaDesde === false || fechaCambiadaHasta == false) {

            alert("Ingrese ambas fechas por favor");

        }else{


            $.ajax({
                type: "POST",
                async: true,
                data: {
                    'csid': $("#ddNavegador").find("option:selected").val(),
                    'fd': fechaCambiadaDesde,
                    'fh': fechaCambiadaHasta
                },
                url: "@Url.Action("GetProturProgramado", "Derivaciones")",
                success: function(data)
                {
                    mostrarGraficoProgramaciones(data);

                },
                error: function(e)
                {
                    event.stopPropagation();
                    alert("error al acceder al servidor, recargue la página e intente nuevamente");
                    console.dir(e);
                }
            });
        }

    }

    function mostrarGraficoProgramaciones(result) {

        console.dir(result)

        var hacia = [];
        var cantidades = [];

        for (var index in result) {

            cantidades.push(result[index].Cantidad);
            hacia.push(result[index].NOMBRE);
        }


        var derivacionesChart = Highcharts.chart('programacionesContainer', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'El centro de salud ' + $("#ddNavegador").find("option:selected").text() + ' deriva a los siguientes centros de salud: '
            },
            xAxis: {
                text: 'Centros de Salud',
                categories: hacia
            },
            yAxis: {
                title: {
                    text: 'Cantidad de derivaciones'
                }
            },
            series: [{
                text: 'Derivaciones',
                data: cantidades
            }]
        });

    }


    function mostrarDerivaciones() {

        var fechaCambiadaDesde = changeDateString($("#dateDesde"));
        var fechaCambiadaHasta = changeDateString($("#dateHasta"));

        if (fechaCambiadaDesde === false || fechaCambiadaHasta == false) {

            alert("Ingrese ambas fechas por favor");

        }else{


            $.ajax({
                type: "POST",
                async: true,
                data: {
                    'csid': $("#ddNavegador").find("option:selected").val(),
                    'fd': fechaCambiadaDesde,
                    'fh': fechaCambiadaHasta
                },
                url: "@Url.Action("GetProturDerivado", "Derivaciones")",
                success: function(data)
                {
                    mostrarGraficoDerivaciones(data);

                },
                error: function(e)
                {
                    event.stopPropagation();
                    alert("error al acceder al servidor, recargue la página e intente nuevamente");
                    console.dir(e);
                }
            });
        }

    }

    function mostrarGraficoDerivaciones(result) {

        //console.dir(result)

        var hacia = [];
        var cantidades = [];

        for (var index in result) {
            /*
            for (var oindex in csHaciaNombres) {

                if (csHaciaNombres[oindex].id == result[index].HACIAID) {

                    hacia.push(csHaciaNombres[oindex].Nombre);
                }
            }*/

            cantidades.push(result[index].Cantidad);
            hacia.push(result[index].NOMBRE);
        }

        //console.dir(hacia)

        console.dir(result)



        var derivacionesChart = Highcharts.chart('derivacionesContainer', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'El centro de salud ' + $("#ddNavegador").find("option:selected").text() + ' recibe las siguientes derivaciones: '
            },
            xAxis: {
                text: 'Centros de Salud',
                categories: hacia
            },
            yAxis: {
                title: {
                    text: 'Cantidad de derivaciones'
                }
            },
            series: [{
                        text: 'Derivaciones',
                        data: cantidades
                    }]
        });
    }

    function changeDateString(date) {

        if (date.val() == "") {
            return false;
        }

        var dateSplited = $(date).val().split("/");

        return dateSplited[2] + '-' + dateSplited[0] + '-' + dateSplited[1];
    }



</script>